#formularioUsers{
    margin-left: 15%;
    margin-top: 8%;
}
.colFlex{
    max-width: 100%;
    flex-grow: 1;
}

.rowcontents{
    display: contents;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.marginRig28{
    margin-right: 28%;
}

.col-25{
    flex: 0 0 50%;
    max-width: 25%;
}

.col-40{
    flex: 0 0 50%;
    max-width: 40%;
}

.floatLeftMarginRigth{
    float: left;
    margin-right: 4%;
}
.btnFormularioUsuario{
    float: left;
    margin-top: 12%;
    margin-left: -20%;
}
mat-form-field{
    margin-right: 2%;
}