<div>
  <nav class="row perfect-scrollbar-on">
    <div class="col-3" id="menu-content" data-image="./assets/img/sidebar-1.jpg">
      <div class="nav flex-column nav-pills" id="titulo" role="tablist" aria-orientation="vertical">
        <p>Titulo</p>
      </div>
      <div class="nav flex-column nav-pills" id="menu" role="tablist" aria-orientation="vertical">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" id="dashboard" routerLink="/tifon">Dashboard</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" id="usuario" routerLink="/atlas">Adm. Usuarios</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" id="Mensajes" routerLink="/atlas/product">Crear Producto</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" id="herramientas">Settings</a>
          </li>
        </ul>
      </div>
    </div>
    <!--*********************************************************************************************************-->
    <div class="pos-f-t" id="collapse-div">
      <nav class="navbar navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <button type="button" class="close margin-left-10" aria-label="Close" data-toggle="collapse"
          data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false">
          <span aria-hidden="true">&times;</span>
        </button>
      </nav>
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="col-4">
          <div class="nav flex-column nav-pills" id="titulo-col" role="tablist" aria-orientation="horizontal">
            <p>Titulo</p>
          </div>
          <div class="nav flex-column nav-pills" id="menu" role="tablist" aria-orientation="vertical">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" id="pill-dashboard" routerLink="/tifon">Dashboard</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" id="v-pills-profile-tab" routerLink="/atlas">Usuarios</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" id="v-pills-messages-tab">Messages</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" id="v-pills-settings-tab">Settings</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>