<div class="card border-primary mb-3" id="listClientes">
    <div class="card-header">Usuarios</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Usuarios</h5> 
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="[ '/atlas/crearusuario' ]">Crear Cliente</button>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Numero de identidad</th>
            <th>Tipo de documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Fecha nacimiento</th>
            <th>Telefono</th>
            <th>Celular</th>
            <th>Nombre de la empresa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Usuario of usuarios">
            <td>{{Usuario.numIdenti}}</td>
            <td>{{Usuario.tipoIdenti}}</td>
            <td>{{Usuario.nombre}}</td>
            <td>{{Usuario.apellido}}</td>
            <td>{{Usuario.username}}</td>
            <td>{{Usuario.email}}</td>
            <td>{{Usuario.fechaNacimiento}}</td>
            <td>{{Usuario.telefono}}</td>
            <td>{{Usuario.celular}}</td>
            <td>{{Usuario.nombreEmpresa}}</td>
            <!--<td>
              <button type="button" name="editar" [routerLink]="['/clientes/formulario', Cliente.id]" class="btn btn-primary">Editar</button>
            </td>
            <td>
              <button type="button" name="eliminar" (click)='delete(Cliente)' class="btn btn-danger">Eliminar</button>
            </td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  