<div class="card border-primary mb-3" id="listUsuarios">
    <div class="card-header">Lista de usuarios</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Usuarios</h5> 
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="[ '/atlas/crearusuario' ]">Crear Usuario</button>
      <div *ngIf="usuarios?.length == 0" class="alert alert-info">
          No ahi Registros en la base de datos!
      </div>
      <table class="table table-bordered table-striped" *ngIf="usuarios?.length>0">
        <thead>
          <tr>
            <th>Nro identidad</th>
            <th>Tipo documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Usuario</th>
            <th>Roles</th>
            <th>Celular</th>
            <th>Empresa</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Usuario of usuarios">
            <td>{{Usuario.numIdenti}}</td>
            <td>{{Usuario.tipoIdenti}}</td>
            <td>{{Usuario.nombre}}</td>
            <td>{{Usuario.apellido}}</td>
            <td>{{Usuario.username}}</td>
            <td>{{Usuario.roles}}</td>
            <td>{{Usuario.celular}}</td>
            <td>{{Usuario.nombreEmpresa}}</td>
            <td>
              <button type="button" name="editar" [routerLink]="['/atlas/crearusuario', Usuario.numIdenti]" class="btn btn-primary">Editar</button>
            </td>
            <td>
              <button type="button" name="eliminar" (click)='deleteUser(Usuario)' class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  